.navbarContainer{
    display:flex;
    justify-content: space-between;
    background-color: #003580;
    align-items: center;
    height:40px;
}
.listItem{
    list-style: none;
    display: flex;
    align-items: center;
    color:white;
    gap:30px;
}
.item{
    margin-left: 40px;
font-size: 22px;
}

.authItem{
    margin-right: 50px;
    color:white;
    font-size: 22px;
}